name: Build
on: [push]
jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-22.04, windows-latest]
  
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5

      - name: Set up Python 3.13
        uses: actions/setup-python@v3
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Build
        run: pyinstaller -F -n steamy-${{ startsWith(matrix.os, 'ubuntu') && 'linux' || 'windows.exe' }} src/__main__.py

      - name: Release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          files: dist/steamy-*
