name: Build
on: [push]
jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-22.04, windows-latest]

    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash

    steps:
      - uses: actions/checkout@v5

      - name: Set up Python 3.13
        uses: actions/setup-python@v3
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Build
        run: pyinstaller -n steamy --runtime-hook=cert_hook.py src/__main__.py

      - name: Copy resources
        run: cp -r resources LICENSE README.md dist/steamy

      - name: Create archive (Linux)
        if: startsWith(matrix.os, 'ubuntu')
        run: tar czvf steamy_linux.tar.gz --directory dist/steamy/ .

      - name: Create archive (Windows)
        if: startsWith(matrix.os, 'windows')
        run: tar cvf steamy_windows.zip --directory dist/steamy/ .

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: steamy_${{ startsWith(matrix.os, 'ubuntu') && 'linux' || 'windows' }}
          path: dist/steamy/*

      - name: Release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          files: steamy_*
